<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wgutscheduler">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="College Progress Checker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WGUTScheduler">
        <activity
            android:name=".Activity.ReportsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="true"
            android:parentActivityName=".Activity.MainPage"/>

        <receiver
            android:name=".Utilities.Notifications"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.EditMentor"
            android:label="Edit Mentor" />
        <activity
            android:name=".Activity.EditAssessment"
            android:label="Edit Assessment" />
        <activity
            android:name=".Activity.EditCourse"
            android:label="Edit Course" />
        <activity
            android:name=".Activity.EditTerm"
            android:label="Edit Term" />
        <activity
            android:name=".Activity.MentorDetails"
            android:label="Mentor Details" />
        <activity
            android:name=".Activity.AssessmentDetails"
            android:label="Assessment Details" />
        <activity
            android:name=".Activity.AddMentor"
            android:label="Add Mentor" />
        <activity
            android:name=".Activity.AddAssessment"
            android:label="Add Assessment" />
        <activity
            android:name=".Activity.CourseDetails"
            android:label="Course Details" />
        <activity
            android:name=".Activity.AddCourse"
            android:label="Add Course" />
        <activity
            android:name=".Activity.TermDetails"
            android:label="Term Details" />
        <activity
            android:name=".Activity.AddTerm"
            android:label="Add Term" />
        <activity
            android:name=".Activity.TermList"
            android:label="Term List"
            android:parentActivityName=".Activity.MainPage" />
        <activity android:name=".Activity.MainPage" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>